/Lab_1/target/
/LT_2/neighborhood/target/
/LT_2/Fractor_Exxample/target/
/LT_2/Fractor_Demo/target/
/LAB_1/target/
/LT_2/Store_manage/target/
/LAB_2/Q1/target/
/LAB_2/Q2/target/
/LT_3/Bank/target/
/LAB_2/Q3/target/
/LAB_3/Q1/target/
/LT_4/DemoGenerics/target/
*.class
/LAB_4/Q1_LAB4/target/
/LAB_4/Q2_LAB4/target/
LAB_3/Q2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
LAB_3/Q2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
LAB_4/Q3_LAB4/pom.xml
LT_1/pom.xml
/LT_6/Demo/DemoForm/target/
/LT_6/Layout/target/
/LAB_5/Q1_LAB_5/target/
/LAB_5/Q2_LAB_5/target/
/LT_7/Registration_Form/target/
